{% extends "varnishpurge/_layouts/cp" %}

{% set selectedSubnavItem = "" %}

{% import "_includes/forms" as forms %}

{% set content %}
	<p>[Dashboard &amp; On-demand Purging/Banning coming soon...]</p>
{% endset %}