{% extends "_layouts/cp" %}
{% hook 'varnishpurge.prepCpTemplate' %}

{% import "_includes/forms" as forms %}

{# {% includeCssResource "settingsexample/css/SettingsExample_Style.css" %} #}
{# {% includeJsResource "settingsexample/js/SettingsExample_Script.js" %} #}

{% set content %}
<h2>Bindings for {{ sectionname }}</h2>

{{
	forms.editableTable({
		id: 'purgeSectionURIs',
		name: 'purgeSectionURIs',
		cols: [{
			heading: 'Type',
			type: 'select',
			options: purgeTypes
		}, {
			heading: 'URI'
		}]
	})
}}
{% endset %}